{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About HOW :)</h1>
            <p class="lead fw-normal text-white-50 mb-0">Great!! you are right here to know more about the HOW(House Of
                Watches), Excited to showcase ourselves. Thanks and keep purchase your time here.</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        
            <div class="col" style="text-align: center">
                <p style="text-align: justify;"><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta gravida tortor nec sagittis.
                    Phasellus quis dolor felis. Sed convallis tincidunt dui. Mauris massa ante, varius et accumsan quis,
                    lobortis non odio. Quisque consequat, ante ac dignissim consectetur, nulla erat facilisis nisi, at
                    vestibulum purus ex non felis. Proin ante metus, vestibulum ut libero sed, vulputate tristique nisi.
                    Fusce scelerisque interdum turpis. Duis ac odio efficitur, volutpat neque sit amet, congue libero. <br><br>

                    Aliquam viverra tincidunt nisl, in volutpat massa blandit a. Proin vel ante vitae sem ultricies
                    imperdiet. Nullam non mauris molestie, gravida nisi ut, feugiat ipsum. Etiam dictum porttitor nisi,
                    ac semper purus consequat nec. Phasellus sodales, mauris sed accumsan lacinia, sapien nibh pulvinar
                    urna, eget tristique mauris lorem quis nisi. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Nam leo ipsum, condimentum eu hendrerit sed, accumsan sit amet turpis. Maecenas ac
                    sollicitudin nibh. Sed eu maximus sem. Sed urna nulla, consectetur sit amet viverra nec, malesuada
                    sed leo. Sed et tellus quam. Sed eu scelerisque ligula, quis blandit elit. Pellentesque malesuada
                    blandit ullamcorper. Nunc ut felis placerat, mollis elit vitae, molestie elit. <br><br>

                    Cras convallis dui ac dui placerat pretium elementum nec tortor. Donec congue gravida malesuada. In
                    tristique faucibus lorem, vitae vulputate urna tempor interdum. Aenean commodo dictum urna, a
                    tincidunt tortor luctus non. Praesent consectetur maximus ligula ultricies lacinia. Pellentesque
                    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse quis
                    augue sit amet mi vestibulum dapibus. <br><br>
                </p><br>
            </div>
        
    </div>
</div>



{% endblock %}